[recon-neonatal-cortex]


white_matter_labels = 51..82
gray_matter_labels = 5..16,20..39
deep_gray_matter_labels = 1..4,40..47,85..87
lateral_ventricles_labels = 49,50
corpus_callosum_labels = 48
inter_hemisphere_labels = 40..47,85..87
brainstem_labels = 19
cerebellum_labels = 17,18
right_hemisphere_labels = 2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,50,52,54,56,58,60,62,63,65,67,69,71,73,75,77,79,81,86
left_hemisphere_labels = 1,3,5,7,9,11,13,15,17,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,64,66,68,70,72,74,76,78,80,82,87

subcortex_closing = 5
brainstem_closing = 5
cerebellum_closing = 5

temp   = %(work_dir)s/cortex-recon/%(subject_id)s-%(session_id)s
prefix = %(temp)/%(subject_id)s-%(session_id)s

temp_dir = %(temp)s

input_t1w_image     = %(work_dir)s/restore/T1/%(subject_id)s-%(session_id)s_restore.nii.gz
input_t2w_image     = %(work_dir)s/restore/T2/%(subject_id)s-%(session_id)s_restore.nii.gz
input_brain_mask    = %(work_dir)s/masks/%(subject_id)s-%(session_id)s.nii.gz
input_labels_image  = %(work_dir)s/segmentations/%(subject_id)s-%(session_id)s_all_labels.nii.gz
input_tissues_image = # only labels_image required / used

t1w_image             = %(temp_dir)s/t1w-image.nii.gz
t2w_image             = %(temp_dir)s/t2w-image.nii.gz
brain_mask            = %(temp_dir)s/brain-mask.nii.gz
white_matter_mask     = %(temp_dir)s/white-matter-mask.nii.gz
gray_matter_mask      = %(temp_dir)s/grey-matter-mask.nii.gz
corpus_callosum_mask  = %(temp_dir)s/corpus-callosum-mask.nii.gz
deep_gray_matter_mask = %(temp_dir)s/deep-grey-matter-mask.nii.gz
ventricles_mask       = %(temp_dir)s/ventricles-mask.nii.gz
ventricles_dmap       = %(temp_dir)s/ventricles-dmap.nii.gz
regions_mask          = %(temp_dir)s/region-labels.nii.gz
cortical_hull_dmap    = %(temp_dir)s/cortical-hull-dmap.nii.gz

brain_mesh           = %(temp_dir)s/brain.vtp
bs_cb_mesh           = %(temp_dir)s/brainstem+cerebellum.vtp
internal_mesh        = %(temp_dir)s/internal.vtp
cerebrum_mesh        = %(temp_dir)s/cerebrum.vtp
right_cerebrum_mesh  = %(temp_dir)s/cerebrum-rh.vtp
left_cerebrum_mesh   = %(temp_dir)s/cerebrum-lh.vtp
white_mesh           = %(temp_dir)s/white.vtp
pial_mesh            = %(temp_dir)s/pial.vtp

right_white_mesh = %(prefix)s.R.white.native.surf.vtk
left_white_mesh  = %(prefix)s.L.white.native.surf.vtk
right_pial_mesh  = %(prefix)s.R.pial.native.surf.vtk
left_pial_mesh   = %(prefix)s.L.pial.native.surf.vtk

## -----------------------------------------------------------------------------
## Parameters of deformable model used to reconstruct WM/cGM surface
##
## Parameter names can use either underscores (_) or dashes (-) as word separators.
## Any underscore is replaced by a dash, and a dash is prepended to the name of
## the parameter. The resulting option string is used to set the value when calling
## the "mirtk deform-mesh" binary to reconstruct the surface.
##
## For example, the following specification in this file:
##   gauss_curvature_minimum = .1
##   min-active = [5%%, 1%%]
## translates to the following deform-mesh command arguments:
##   -gauss-curvature-minimum .1
##   -min-active 5% 1%
[recon-neonatal-cortex white_model]

gauss_curvature = 0
min-width = .1
fast-collision-test = False


## -----------------------------------------------------------------------------
## Parameters of deformable model used to reconstruct cGM/CSF (pial) surface
##
## Parameter names can use either underscores (_) or dashes (-) as word separators.
## Any underscore is replaced by a dash, and a dash is prepended to the name of
## the parameter. The resulting option string is used to set the value when calling
## the "mirtk deform-mesh" binary to reconstruct the surface.
##
## For example, the following specification in this file:
##   gauss_curvature_minimum = .1
##   min-active = [5%%, 1%%]
## translates to the following deform-mesh command arguments:
##   -gauss-curvature-minimum .1
##   -min-active 5% 1%
[recon-neonatal-cortex pial_model]

gauss_curvature = 0
min-width = .1
fast-collision-test = False