[recon-neonatal-cortex]


white_matter_labels = 2,41
gray_matter_labels = 1000,1001,1002,1003,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,2000,2001,2002,2003,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
deep_gray_matter_labels = 9,11,12,13,17,18,26,48,50,51,52,53,54,58
lateral_ventricles_labels = 4,43
corpus_callosum_labels = 192
inter_hemisphere_labels = 9,11,12,13,26,48,50,51,52,58
brainstem_labels = 170,28,60
cerebellum_labels = 75,76,90,91,93
right_hemisphere_labels = 93,2000,2001,2002,2003,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,41,43,48,50,51,52,53,54,58,60
left_hemisphere_labels = 91,1000,1001,1002,1003,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,2,4,9,11,12,13,17,18,26,28

subcortex_closing = 5
brainstem_closing = 5
cerebellum_closing = 5

temp   = %(work_dir)s/cortex-recon/%(subject_id)s-%(session_id)s
prefix = %(temp)/%(subject_id)s-%(session_id)s

temp_dir = %(temp)s

input_t1w_image     = %(work_dir)s/restore/T1/%(subject_id)s-%(session_id)s_restore.nii.gz
input_t2w_image     = %(work_dir)s/restore/T2/%(subject_id)s-%(session_id)s_restore.nii.gz
input_brain_mask    = %(work_dir)s/masks/%(subject_id)s-%(session_id)s.nii.gz
input_labels_image  = %(work_dir)s/segmentations/%(subject_id)s-%(session_id)s_all_labels.nii.gz
input_tissues_image = # only labels_image required / used

t1w_image             = %(temp_dir)s/t1w-image.nii.gz
t2w_image             = %(temp_dir)s/t2w-image.nii.gz
brain_mask            = %(temp_dir)s/brain-mask.nii.gz
white_matter_mask     = %(temp_dir)s/white-matter-mask.nii.gz
gray_matter_mask      = %(temp_dir)s/grey-matter-mask.nii.gz
corpus_callosum_mask  = %(temp_dir)s/corpus-callosum-mask.nii.gz
deep_gray_matter_mask = %(temp_dir)s/deep-grey-matter-mask.nii.gz
ventricles_mask       = %(temp_dir)s/ventricles-mask.nii.gz
ventricles_dmap       = %(temp_dir)s/ventricles-dmap.nii.gz
regions_mask          = %(temp_dir)s/region-labels.nii.gz
cortical_hull_dmap    = %(temp_dir)s/cortical-hull-dmap.nii.gz

brain_mesh           = %(temp_dir)s/brain.vtp
bs_cb_mesh           = %(temp_dir)s/brainstem+cerebellum.vtp
internal_mesh        = %(temp_dir)s/internal.vtp
cerebrum_mesh        = %(temp_dir)s/cerebrum.vtp
right_cerebrum_mesh  = %(temp_dir)s/cerebrum-rh.vtp
left_cerebrum_mesh   = %(temp_dir)s/cerebrum-lh.vtp
white_mesh           = %(temp_dir)s/white.vtp
pial_mesh            = %(temp_dir)s/pial.vtp

right_white_mesh = %(prefix)s.R.white.native.surf.vtk
left_white_mesh  = %(prefix)s.L.white.native.surf.vtk
right_pial_mesh  = %(prefix)s.R.pial.native.surf.vtk
left_pial_mesh   = %(prefix)s.L.pial.native.surf.vtk

## -----------------------------------------------------------------------------
## Parameters of deformable model used to reconstruct WM/cGM surface
##
## Parameter names can use either underscores (_) or dashes (-) as word separators.
## Any underscore is replaced by a dash, and a dash is prepended to the name of
## the parameter. The resulting option string is used to set the value when calling
## the "mirtk deform-mesh" binary to reconstruct the surface.
##
## For example, the following specification in this file:
##   gauss_curvature_minimum = .1
##   min-active = [5%%, 1%%]
## translates to the following deform-mesh command arguments:
##   -gauss-curvature-minimum .1
##   -min-active 5% 1%
[recon-neonatal-cortex white_model]

gauss_curvature = 0
min-width = .1
fast-collision-test = False


## -----------------------------------------------------------------------------
## Parameters of deformable model used to reconstruct cGM/CSF (pial) surface
##
## Parameter names can use either underscores (_) or dashes (-) as word separators.
## Any underscore is replaced by a dash, and a dash is prepended to the name of
## the parameter. The resulting option string is used to set the value when calling
## the "mirtk deform-mesh" binary to reconstruct the surface.
##
## For example, the following specification in this file:
##   gauss_curvature_minimum = .1
##   min-active = [5%%, 1%%]
## translates to the following deform-mesh command arguments:
##   -gauss-curvature-minimum .1
##   -min-active 5% 1%
[recon-neonatal-cortex pial_model]

gauss_curvature = 0
min-width = .1
fast-collision-test = False